.Home-title {
  margin-bottom: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #453C52;
  letter-spacing: -2px;
  text-align: center;
}

.Home-authenticate {
  font-size: 30px;
  margin-bottom: 20px;
  color: #453C52;
  letter-spacing: 0.1px;
  text-align: center;
}

.UserHeader {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
}
